#### Answer 1
###### The keyword used to create a function is **def**.

In [1]:
## Creating a function to return a list of odd numbers in the range of 1 to 25.

def test1(a,b):
    l_odd=[]
    for i in range(a,b):
        if i%2 != 0:
            l_odd.append(i)
    return l_odd

In [2]:
test1(1,25)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23]

#### Answer 2
1. *args is used in functions so that any number of inputs can be given to the function
2. **kwargs is used in functions so that any number of key and value combinations can be given as input

In [3]:
## Example for use of *args
## Creating a function to separate out string items from the given input

def test2(*args):
    l=[]
    for i in args:
        if type(i) == str:
            l.append(i)
    return l

In [4]:
test2(1,2,2,4,5,6,7,98,'name','agra',74,101,'lotus_temple',True)

['name', 'agra', 'lotus_temple']

In [6]:
## Example for use of **kwargs
## Creating a function to separate out key and value pairs where value is string in a new dictionary

def test3(**kwargs):
    l={}
    for i in kwargs.keys():
        if type(kwargs[i]) == str:
            l.setdefault(i,kwargs[i])
    return l

In [7]:
test3(a=1,b='delhi',c=95,d=900,e=False,f='Orange',g='Protein')

{'b': 'delhi', 'f': 'Orange', 'g': 'Protein'}

#### Answer 4
##### Iterator are methods which help in iterating through collections such as tuples, lists,etc. 
##### We can create a loop to extract out the elements
##### iter() and next() are used for iteration and **for** can also be used for the same

In [9]:
list1=[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [10]:
lis1=iter(list1)

print(next(lis1))
print(next(lis1))
print(next(lis1))
print(next(lis1))
print(next(lis1))

2
4
6
8
10

In [11]:
## Using for loop
for i in range(0,5):
    print(list1[i])

2
4
6
8
10

#### Answer 4
##### Generator functions in python act as an iterator and provide an efficient method for creating iterators
##### Yield keyword is used because it helps in converting the specified objects of a generator function and 
##### it is more efficient as compared to return when dealing with large datasets

In [1]:
## Creating a generator fuction to get the series in which the next number is equal to sum of previous 3 numbers
## Giving out first n numbers of this series

def test_11(n):
    a,b,c=0,1,2
    for i in range(n):
        yield a
        a,b,c=b,c,a+b+c

In [2]:
test_11(10)

In [3]:
for i in test_11(10):
    print(i)

0
1
2
3
6
11
20
37
68
125

#### Answer 5

In [17]:
def test_prime(n):
    for i in range(2,n):
        for j in range(2,i):
            if i % j ==0:
                break
        else:
            yield i

In [18]:
for i in test_prime(100):
    print(i)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [23]:
## Using the next() to print first 20 prime numbers

aa=iter(test_prime(1000))

In [24]:
print(next(aa))
print(next(aa))
print(next(aa))
print(next(aa))
print(next(aa))
print(next(aa))
print(next(aa))
print(next(aa))
print(next(aa))
print(next(aa))
print(next(aa))
print(next(aa))
print(next(aa))
print(next(aa))
print(next(aa))
print(next(aa))
print(next(aa))
print(next(aa))
print(next(aa))
print(next(aa))

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71